@theme inline {
    --color-background: var(--ds-color-background);
    --color-foreground: var(--ds-color-foreground);

    --color-surface: var(--ds-color-surface);
    --color-surface-foreground: var(--ds-color-surface-foreground);

    --color-primary: var(--ds-color-primary);
    --color-primary-foreground: var(--ds-color-primary-foreground);

    --color-muted: var(--ds-color-muted);
    --color-muted-foreground: var(--ds-color-muted-foreground);

    --color-border: var(--ds-color-border);
}