# Dependencies
node_modules/

# Builds
dist/
build/
.storybook-out/
storybook-static/

# Testing
coverage/

# Environment
.env
.env.*
!.env.example

# Vercel
.vercel/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editors
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo